*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #343f4f;
}
.wrapper{
    display: inline-flex;
}

.wrapper .static-text{
    color: #fff;
    font-size: 60px;
    font-weight: 400;

}

.wrapper .dynamic-text{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic-text li{
    color: red;
    list-style: none;
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;

}

@keyframes slide {
    100% {
        top:-360px
    }
    
}

.dynamic-text li span{
    position: relative;
}

.dynamic-text li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 5s steps(10) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
